.acor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white-color;
  padding: 122px 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 930px;
  }
  &__title {
    color: $theme-primary;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
  }

  &__container {
    width: 100%;
    .acor__body {
      width: calc(100% - 40px);
      margin: 0 auto;
      height: 0;
      color: #676767;
      background-color: transparent;
      padding: 0 30px;
      box-sizing: border-box;
      transition: color 0.5s, padding 0.5s;
      overflow: hidden;
      font-size: 16px;
    }
    .acor__body p {
      margin: 0 0 10px;
      font-weight: 700;
    }
    label {
      cursor: pointer;
      background-color: transparent;
      display: block;
      padding: 15px 20px;
      width: 100%;
      color: #676767;
      font-weight: 300;
      box-sizing: border-box;
      z-index: 100;
      font-size: 18px;
      margin: 0 0 5px;
      transition: color 0.35s;
    }
    label:hover {
      color: #676767;
    }
    input {
      display: none;
    }
    label:before {
      content: "";
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3e%3cpath d='M2 9.80908H18' stroke='%233271D2' stroke-width='2.3' stroke-miterlimit='10' stroke-linecap='round'/%3e%3cpath d='M10 2L10 18' stroke='%233271D2' stroke-width='2.3' stroke-miterlimit='10' stroke-linecap='round'/%3e%3c/svg%3e");
      float: right;
    }
    input:checked + label {
      background-color: transparent;
      color: #676767;
    }
    input:checked + label:before {
      transition: transform 0.35s;
      transform: rotate(90deg);
    }
    input:checked + label + .acor__body {
      height: auto;
      margin-top: -5px;
      color: #000;
      padding: 20px 30px 10px;
    }
  }
}
