@import "../vars.scss";

.menu {
  position: relative;
  z-index: 1;

  &__divider {
    height: 40px;
    width: 1px;
    background-color: $divider-color;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__link {
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &__button {
    padding: 6px 16px;
    border-radius: 4px;
    border: 1px solid var(--neutral-01, #fff);
    color: var(--neutral-01, #fff);
    font-weight: 700;
    line-height: 28.8px;
    background-color: transparent;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
