@import "../vars.scss";

.promo {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: $white-color;
  background: linear-gradient(33deg, #132e57 21.82%, #255bac 100%);
  clip-path: path(
    "M-203 -138H1570C1570 -138 1570 171.3 1570 358.679C1570 541.561 1029.7 636 683.5 636C337.3 636 -203 541.561 -203 358.679C-203 175.797 -203 -138 -203 -138Z"
  );

  &__title {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    margin: 144px 0 32px;
  }
  &__desc {
    font-size: 18px;
  }
}
