$white-color: #ffffff;
$button-color: #3271D2;
$backgrond-color: #F8F9FA;
$divider-color: #DDDEE0;
$theme-primary: #132E57;
$theme-dark: #1E2939;
$navigation-main: #3271D2;
$neutral-05: #57595D;
$neutral-04: #727477;
$navigation-light: #E9F0FA;
$info-dark: #1C7D87;
